/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100vh;
	display: flex;

	justify-content: flex-start;
}

#root {
	display: flex;
	flex-grow: 1;
}

/*
.buttonText {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
	line-height: 23.17px;
	color: rgba(0, 0, 0, 1);
	text-align: left;

	user-select: none;
}

.sidebar {
	left: 0px;
	top: 0px;

	width: 192px;

	background: #f7f8fa;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 8px 0px 8px 0px;
}

.buttonOutside {
	height: 64px;

	width: 100%;
	box-sizing: border-box;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 8px 8px 8px 8px;
}

.buttonInside {
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	border-radius: 16px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 16px 0px 16px;

	transition: background 0.3s ease;
}
.buttonInside:hover {
	background: rgba(195, 231, 254, 1);
}
.buttonInside:active {
	background: rgba(159, 212, 253, 1);
	box-shadow: 0px 0px 4px 1px rgba(159, 212, 253, 0.5);
}

.functionPage {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	flex-grow: 1;
	background: #f2f3f5;
}

.navbar {
	height: 32px;
	background: #f7f8fa;

	display: flex;
	justify-content: flex-end;

	-webkit-app-region: drag;
}

.verticalLine {
	width: 1px;
	height: 100%;
	background: #e5e6eb;
}

.horizonalLine {
	height: 1px;
	background: #e5e6eb;
}

.messageIconBox {
	width: 48px;
	height: 32px;

	display: flex;
	justify-content: center;
	align-items: center;

	user-select: none;

	transition: background 0.3s ease;

	-webkit-app-region: no-drag;
}
.messageIconBox:hover {
	background: #4080ff;
}
.messageIconBox:active {
	background: #165dff;
}

.closeIconBox {
	width: 48px;
	height: 32px;

	display: flex;
	justify-content: center;
	align-items: center;

	user-select: none;

	transition: background 0.3s ease;

	-webkit-app-region: no-drag;
}
.closeIconBox:hover {
	background: #f76f60;
}
.closeIconBox:active {
	background: #f53f3f;
}

.rulePageFrame {
	display: flex;

	flex-grow: 1;

	justify-content: center;
	align-items: flex-start;
}

.ruleConditionFrame {
	display: flex;

	height: 100%;
	width: 288px;

	display: flex;

	flex-direction: column;
}

.ruleActionFrame {
	display: flex;
	flex-grow: 1;

	height: 100%;

	display: flex;
}

.ruleFrame {
	margin: 16px 16px 0px 16px;
	height: 64px;

	border-radius: 16px;
	background: rgba(247, 248, 250, 1);

	display: flex;
} */
